* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: #0e0e0e;
  width: 400px;
  padding: 25px 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px #7d1aff38;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #0a0a0a;
  color: #692b9c;
  box-shadow: 0 5px 10px #7d1aff38;
}

.song-img {
  width: 220px;
  border-radius: 15px;
  border: 2.5px solid #fff;
  box-shadow: 0 10px 60px #7d1aff38;
}

.music-player h1 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #ffffff;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #692b9c;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #692b9c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 5px 5px #7d1aff38;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #0a0a0a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #692b9c;
  box-shadow: 0 10px 20px #7d1aff38;
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #692b9c;
  color: #fff;
}